.container
  .content
    .row
      .span8
        %p#notice= notice

        %h3= "All recent #thankful tweets"
        
        %h4 Most #thankful words:

        %ol
          - @tweet_cloud.first(10).each do |word|
            %li= word[0]

        %h4 Most #thankful day of the week:

        %h4 Most #thankful time of the day:

        %h4 #thankful tweets mentioning @justinbieber:
