.container
  .content
    .row
      .span8
        %p#notice= notice

        %h3= "All #thankful tweets"
        
        %h4 Most #thankful words:

        - @tweet_cloud.first(5).each do |word|
          %p= word[0]

        %h4 Most #thankful day of the week:

        %h4 Most #thankful time of the day:

        %h4 #thankful tweets mentioning @justinbieber:
