.container
  .content
    %p#notice= notice

  .row
    .span11.offset1
      .head 
        %span What are you 
        %span.thankful #thankful 
        %span for?
      
    .row
      .span7.offset3
        .home_tweets
          - @tweets.each do |t|
            .tweet
              %blockquote
                %p= t.text
                %footer= "- @#{t.from_user}"