// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.content
  padding-top: 70px
  // font-family: 'Raleway', sans-serif
.head
  padding-top: 200px
  font-size: 48px
  font-weight: bold
  .thankful
    color: orange

.home_tweets
  padding-top: 64px
  .tweet
    display: none
    blockquote
      border-left: 5px solid #ffd4aa
    p
      font-size: 24px
      line-height: 48px
    footer
      font-size: 16px
      font-style: italic
      float: right
      color: #888

.profiles
  list-style-type: none
  margin-left: 0
  .profile
    float: left
    p
      text-align: center
    .face
      margin-left: auto
      margin-right: auto
      width: 120px
      height: 120px
      -moz-border-radius: 10px
      -webkit-border-radius: 10px
      -o-border-radius: 10px
      border-radius: 10px
      overflow: hidden
      img
        width: 120px
        height: auto
    .name
      font-weight: bold
      text-align: center
    .nickname
      font-weight: bold
      text-align: center
      a
        color: #888
      a:hover
        color: #888
        background: white
        text-decoration: none
        border-bottom: 1px dotted #888
  .no-margin
    margin-left: 0