.content
  .footer 
    .line
      made with love by 
      = link_to "@alexqin", "http://twitter.com/alexqin"
    .line 
      check it out on
      = link_to "github", "http://github.com/noidontdig/happiness"